extends layout

block content
  h1= title
  p Welcome to #{title}

  // - usiamo il punto quando vogliamo fare tag su piu righe in jade
  script.
            console.log('ciao')
            console.log('bene')
