extends layout

block content
    #container.row.centered-title
        h1 ANDROBENCHMARK SERVER
        p Welcome to AndroBenchmark statistic server

    #performance-graph.row.misure-grafico-std
        h4 Grafico performance

    #battery-graph.row.misure-grafico-std
        h4 grafico batteria


    script(src="/vendor/highcharts.js")

    //- usiamo il punto quando vogliamo fare tag su piu righe in jade
    script.

            $(document).ready(function(){

                //ricaviamo i nomi dei modelli
               var models = '#{models}'.split(",");

               var javaNumber = []
               var jniNumber = []
               var rsNumber = []

               //rendiamo gli arrei ritornati degli interi cosi che possano essere plottati (FA SCHIFO LO SO)
               '#{java}'.split(',').forEach(function(value,key){
                    javaNumber.push(parseInt(value))
                })

               '#{jni}'.split(',').forEach(function(value,key){
                    jniNumber.push(parseInt(value))
                })

               '#{rs}'.split(',').forEach(function(value,key){
                    rsNumber.push(parseInt(value))
                })

               //creiamo il grafico con le opportune colonne
                $('#performance-graph').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Performance Graph'
                    },
                    xAxis: {
                        categories: models
                    },
                    yAxis: {
                        title: {
                            text: 'Mean Execution Time [ms]'
                        }
                    },
                    series: [{
                        name: 'Java',
                        data: javaNumber
                    },
                    {
                        name: 'Jni',
                        data: jniNumber
                    },
                    {
                        name: 'RenderScript',
                        data: rsNumber
                    },
                    ]
                });
            });

