extends layout

block content
    a(class="btn btn-default" onclick="doPost()")= "postData"

    script.
        function doPost(){
             $.ajax({
            url: '/insert',
                type: 'POST',
                data: {type: "brute", battery : '[1, 2, 2]', vendor : 'samsung', model : 's3', java : '32', jni: '12', rs : '3'},
                success: function(data){
                        console.log(data)
                    }

             });
        }
