extends layout

block content
    a(class="btn btn-default" onclick="doPost()")= "postData"

    script.
        function doPost(){
             $.ajax({
            url: '/insert',
                type: 'POST',
                data: {type: "brute", battery : '[1, 2, 2]', vendor : 'samsung', model : 's3', java : '[300, 400, 500]', jni: '[30, 40, 50]', rs : '[60, 50, 40]'},
                success: function(data){
                        console.log(data)
                    }

             });
        }
