extends layout

block content
    a(class="btn btn-default" onclick="doPost()")= "postData"

    script.
        function doPost(){
             $.ajax({
            url: '/insert',
                type: 'POST',
                data: {type: "brute", java: 4444, jni: 343, rs: 23},
                success: function(data){
                        console.log(data)
                    }

             });
        }
